*{
    box-sizing: border-box;
}

.content{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
td {
    width: 30px;
    height: 30px;
    border: solid 1px black;
    text-align: center;
    font-size: 13pt;
  }
  
  td:hover {
    background-color: #dbdbdb;
    cursor: pointer;
  }