*{
    box-sizing: border-box;
}
td {
    width: 30px;
    height: 30px;
    border: solid 1px black;
    text-align: center;
    font-size: 13pt;
  }
  
  td:hover {
    background-color: #dbdbdb;
    cursor: pointer;
  }